{% extends 'link.html'%}

{%block meta%}

  <meta name="description" content="We are provide islamic bayan.In which all islamic bayan available.Beautiful collection of best muslim bayan with many other inspirational islamic sayings in english | Urdu.">
  
  <meta name="keywords" content="bayan by Moulana raza saqib,bayan,bayan status,bayan about namaz,bayan by Moulana tariq jameel,bayan 2018,bayan download,bayan all,bayan background music,bayan by moulana raza saqib mp3,mp4,3gp download,bayan raza saqib mustafai 2018">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

{%endblock%}

	{% block title %}Best Isamic Azan And Bayans{%endblock%}
	

  {% block body %}
	<nav>
    <div class="nav-wrapper">
      <div class="container">
      <a href="/" class="brand-logo" style="margin-left: 10px;">Only Bayan</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/namaz">Namaz</a></li>
        <li><a href="/success">Success</a></li>
        <li><a href="/motivation">Motivation</a></li>
        <li><a href="/azan" class="nactive">Beautiful Azan</a></li>
        <li><a href="/status">Whatsapp Status</a></li>
        <li><a href="/life-changing">Life Changing</a></li>
        
      </ul>
    </div></div>
  </nav>
  <ul class="sidenav" id="mobile-demo">

    <center>
      <img src="{{url_for('static',filename='img/navlogo.jpg')}}" class="responsive-img">
      <h3>Wa-Qul-Rabbi-Zidni-ilma</h3>
    </center>
     <li><a href="/">Home</a></li>
        <li><a href="/azan">Azan</a></li>
        <li><a href="/namaz">Namaz</a></li>
        <li><a href="/success">Success</a></li>
        <li><a href="/motivation">Motivation</a></li>
        <li><a href="/azan">Beautiful Azan</a></li>
        <li><a href="/status">Whatsapp Status</a></li>
        <li><a href="/life-changing">Life Changing</a></li>
       
  </ul>


<div class="row">
  <blockquote><h3 class="h3">Beautiful Azan And Bayans</h3></blockquote>
  {%for i in res%}

    {% if '=' in i[6]%}
        {% set u = i[6].split('=')[-1] %}
      {% elif '/' in i[6]%}
        {% set u = i[6].split('/')[-1] %}
      {% endif %}
    <div class="col s12 m6 l4">
      <div class="card">
        <div class="card-image">
          <a href="/{{i[5]}}/{{i[2]}}">
          <img src="http://i3.ytimg.com/vi/{{u}}/mqdefault.jpg"></a>
          <span class="card-title">by {{i[3]}}</span>
          <a href="/{{i[5]}}/{{i[2]}}" class="btn-floating btn-large halfway-fab waves-effect waves-light"><i class="material-icons">file_download</i></a>
        </div>
        <div class="card-content">
          {%if i[1]|length > 58%}
            {% set title = i[1]%}
              <a href="/{{i[5]}}/{{i[2]}}"><h5>{{title[:57]}}...</h5></a>
          {%else%}
              <a href="/{{i[5]}}/{{i[2]}}"><h5>{{i[1]}}</h5></a>
          {%endif%}


          {%if i[7]|length > 130%}
            {% set para = i[7]%}
            <p>{{para[:130]}}...<a href="/{{i[5]}}/{{i[2]}}">More</a></p>
            {%else%}
              <p>{{i[7]}}</p>
          {%endif%}

          
          
        </div>
        <div class="card-action">
          <p>You can download video in HD,MP4,3gp and Audio(mp3)</p>
          <center><a href="/{{i[5]}}/{{i[2]}}">Download Video</a></center>
        </div>
      </div>
    </div>
    {%endfor%}

  </div>




<center>
<ul class="pagination">
  
    {%if page <= 1%}

      <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
    {%else%}
      
      <li class="waves-effect"><a href="/{{res[0][5]}}/{{page -1}}"><i class="material-icons">chevron_left</i></a></li>
    {%endif%}


    {% for num in range(1,pages+1)%}

      {%if page ==  num%}
        <li class="active"><a href="/{{res[0][5]}}/{{num}}">{{num}}</a></li>
      {% else %}
        <li class="waves-effect"><a href="/{{res[0][5]}}/{{num}}">{{num}}</a></li>
      {%endif%}
      
    {% endfor %}
    
    

    {%if page < pages%}
      <li class="waves-effect"><a href="/{{res[0][5]}}/{{page +1}}"><i class="material-icons">chevron_right</i></a></li>
    {%else%}
      <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
    {%endif%}
   
  </ul>

</center>



{% endblock %}